.main_app{
    height: 65%;
    place-self: center;
    padding: 50px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, blue, white) ;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.search_bar{
    display: flex;
    align-self: center;
    gap: 12px;

}
.search_bar input {
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: rgb(34, 31, 28);
    background: #ebfffc; 
    font-size: 18px;
}

.search_bar img{
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc; 
    cursor: pointer;
}
.Weather_icon{
    width: 150px;
    margin: 30px 0;

}
.temperature{
    color: #fff;
    font-size: 80px;
    line-height: 1;
}
.location{
    color: #fff;
    font-size: 40px;
    
}
.Weather_data{
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.Weather_data .coloms{
    display: flex;
    align-content: flex-start;
    gap: 12px;
    font-size: 22px;
}

.Weather_data .coloms span{
    display: block;
    font-size: 14px;
    
}
.Weather_data .coloms img
{
    width: auto;
    
}




/* media Quety */
@media only screen and (max-width: 420px){
    .app{
        min-height: 100vh;
       
        background-color: white;
      }
    .main_app{
        background-image: linear-gradient(45deg, blue, rgb(214, 214, 30)) ;
        height: 65%;
        place-self: center;
        
    }

}









